.banner-sobre {
    background-image: url('../../assets/imgs/banner-sobre.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sobre h1 {
    color: #fff;
    font-size: 64px;
    text-shadow: 3px 3px #363636;
    text-align: center;
}

.texto-sobre {
    height: 70vh;
    padding: 10px;
    text-align: center;
}

.texto-sobre h3 {
    margin: 10px 0 30px 0;

}

.texto-sobre p {
    margin-top: 20px;
}

.img-sobre {
    height: 100vh;
}


@media(max-width:768px) {
    .banner-sobre {
        height: 85vh;
    }
    .img-sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:436px) {
.banner-sobre h1 {

    font-size: 48px;
}
}