footer {
    background-color: #000;
    height: 30vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 0 10px 0;
    justify-content: space-between;
    align-items: center;
}


.dados-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.dados-footer p {
    font-size: small;
}
.copy{
    padding: 0 10px;
    text-align: center;
}
.dados-footer img {
    width: 80px;
}

@media (max-width:768px) {
    footer {
        height: 70vh;

    }

    .dados-footer {

        flex-direction: column;
        height: 80%;
        align-items: center;
    }

    .dados-footer div {
        width: 80%;
        text-align: center;
    }
}
